#myCarousel.carousel.slide
  .carousel-inner
    for file in files
      if file.associatedFiles
        for pic,i in file.associatedFiles
          .item(class=(i||'active'))
            img(src='#{root}#{pic}', alt='')
            .container
              .carousel-caption
                h1 #{decodeURIComponent(pic.match(/\/([^\/]+)\.jpg/)[1])}
                a.btn.btn-large.btn-primary(href='#{root}#{file.path}') #{file.title}
  a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
  a.right.carousel-control(href='#myCarousel', data-slide='next') ›
.container.marketing
  #members
    h1 团队成员
    .row
      for member in globals.members
        .span2
          a(href='https://github.com/#{member.login}/',target='_blank')
            img.img-circle(src=member.avatar_url,title=member.name||member.login,style='width:100%;max-width:80px;')
  #repos
    hr.featurette-divider
    h1 团队项目
    for repo,i in globals.projects
      if repo.name!='pansafe.github.com'
        .featurette
          if i%2
            img.featurette-image.pull-left(src='#{repo.homepage}logo.png')
          else
            img.featurette-image.pull-right(src='#{repo.homepage}logo.png')
          h2.featurette-heading
            | #{repo.name}
            span.muted #{repo.fullname}
          p.lead
            | !{repo.description}
          p
            a.btn.btn-primary(href=repo.homepage) 了解更多
        hr.featurette-divider