extends default.html
block content
  #myCarousel.carousel.slide
    .carousel-inner
      for page in getCollection('pages').toArray()
        for pic,i in JSON.parse(JSON.stringify(page.getAssociatedFiles()))
          .item(class=(i||'active'))
            img(src=pic.relativeOutPath, alt='')
            .container
              .carousel-caption
                h1 #{pic.basename}
                a.btn.btn-large.btn-primary(href=page.get('relativeOutPath')) #{page.get('title')}
    a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
    a.right.carousel-control(href='#myCarousel', data-slide='next') ›
  .container.marketing
    #members
      h1 团队成员
      .row
        for member in feedr.feeds.githubMembers
          .span2
            a(href='https://github.com/#{member.login}/',title='去github上看看他/她',target='_blank')
              img.img-circle(src=member.avatar_url,style='width:100%;max-width:80px;')
            h2 #{member.login}
    #repos
      hr.featurette-divider
      h1 团队项目
      for repo,i in feedr.feeds.githubRepos
        if repo.name!='pansafe.github.com'
          .featurette
            if i%2
              img.featurette-image.pull-left(src='#{repo.name}/logo.png')
            else
              img.featurette-image.pull-right(src='#{repo.name}/logo.png')
            h2.featurette-heading
              | #{repo.name}
              span.muted #{repo.fullname}
            p.lead
              | !{repo.description}
            p
              a.btn.btn-primary(href='https://github.com/pansafe/#{repo.name}/',target='_blank')
          hr.featurette-divider